



.wrapper{
	width: 100%;
	background: #fff;
	margin-top: 60px;
	padding: 30px 0;
}

.slider-testimonial{
	width: 85%;
	max-width: 1400px;
	margin: auto;
}

.testimonial-client{
	margin-bottom: 15px;
}

.testimonial-client img{
	width: 120px;
	margin:auto;
}

.client-name{
	font-family: "Open sans";
	font-weight: 600;
	font-size: 30px;
	color: #FF5733;
	text-align: center;
}

.testimonial-text{
	padding: 10px 120px;
}

.testimonial-text p{
	font-family: "Open sans";
	font-size: 25px;
	font-weight: 400;
	text-align: center;
	color: #454545;
}